.event-list-item {
  display: flex;
  align-items: center;
}

.event-list-item__description {
	margin: 0;
	width: 100%;
	overflow-wrap: break-word;
  word-wrap: break-word;
	color: rgb(110, 110, 110);
  font-size: 13px;
}

.event-list-item__date {
	margin: 7px 0px;
	color: rgb(41, 41, 41);
}

.event-list-item__content {
	padding-left: 15px;
	flex-shrink: 20;
}

.event-list-item__title {
	font-size: 17px;
	font-weight: 500;
	margin-top: 0;
	margin-bottom: 7px;
	color: rgb(23, 23, 23);
}

.event-list-item__thumbnail {
	object-fit: cover;
	height: 75px;
	width: 80px;
	border-radius: 9px;
}
