.event-info {

}

.event-info__back-btn {
  background: none;
  border: none;
  color: white;
  font-size: 22px;
}

hr {
  height: 1px;
  margin: 20px 0;
  background: linear-gradient(
		to right,
		rgba(155,155,155,0.3) 0%,
		rgba(155,155,155,1) 49%,
		rgba(155,155,155,0.3) 100%
	);
  border: 0;
}

.event-info__cover-image {
	width: 100%;
	height: 200px;
	object-fit: cover;
	display: block;
}

.event-info__stats {
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	align-items: center;
	text-align: center;
	font-size: 15px;
	background-color: rgb(235, 235, 235);
	padding: 5px;
}

.event-info__stats-item {
	flex-basis: 0;
	flex-grow: 1;
}


.event-info__stats-spacer {
	height: 32px;
	width: 1px;
	background-color: rgb(186, 181, 181);
}

.event-info__headers {
	padding-left: 20px;
	padding-right: 20px;
	letter-spacing: 0.8px;
}

.event-info__title {
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
	font-weight: lighter;
	font-size: 25px;
	letter-spacing: 0.8px;
}

.event-info__club {
	text-align: center;
	margin: 0px;
	color: rgb(77, 77, 77);
	font-weight: lighter;
	font-size: 15px;
}

.event-info__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
	margin: 0px 20px;
  padding-bottom: 20px;
}

.event-info__date-section, .event-info__location-section {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: stretch;
	margin-bottom: 20px;
}

.event-info__date-icon, .event-info__location-icon {
	font-size: 30px !important;
	margin-right: 10px;
	display: block;
  align-self: center;
}

.event-info__date, .event-info__location {
  align-self: center;
	text-align: center;
}

.event-info__description {
  font-size: 20px;
}
