.refresh-button {
	border: none;
	background: none;
	color: white;
}

.refresh-button--spinning {
	animation: refresh-button-spin linear 1.5s infinite;
}

@keyframes refresh-button-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
