body {
	margin: 0;
	font-family: 'Droid Sans', sans-serif;
}

.noUnderline {
	text-decoration: none !important;
}

.list {
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
}

.listItem {
	max-height: 210px;
	padding: 6px;
	margin-bottom: 10px;
	display: flex;
	justify-content: flex-start;
}

.thumbnail {
	object-fit: cover;
	height: 75px;
	width: 80px;
	border-radius: 20px;
}

.content {
	padding-left: 15px;
	flex-shrink: 20;
}

.title {
	font-size: 17px;
	font-weight: 500;
}

.date {
	margin: 7px 0px;
	color: rgb(41, 41, 41);
}

.seperator {
	background-color: rgb(208, 208, 208);
}

.seperator-date {
	text-align: center;
	width: 100%;
	height: 100%;
}

.description {
	margin: 0;
	width: 100%;
	overflow-wrap: break-word;
  word-wrap: break-word;
	color: rgb(110, 110, 110);
}

.date, .description {
	font-size: 13px;
}

.content .title {
	margin: 0;
}

/*login view styles*/
.loginView {
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	flex-direction: row;
}

.loginView .loginForm {
	width: 200px;
	text-align: center;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.loginForm input[type='submit'] {
	margin-top: 20px;
	border-width: 1px;
	border-radius: 8px;
	border-color: rgb(208, 208, 208);
	background-color: white;
}

.loginForm input[type='submit']:hover {
	background-color: rgba(86, 227, 147, 0.3);
}

.loginForm input[type='text'],
.loginForm input[type='password'] {
	margin-bottom: 20px;
	height: 25px;
	border-width: 1px;
	border-radius: 8px;
	border-style: solid;
	border-color: rgb(208, 208, 208);
}

.help-text {
	color: rgb(162, 70, 70);
}


/*event info page*/
.eventInfo {

}

.eventCoverImage {
	width: 100%;
	height: 200px;
	object-fit: cover;
}

.eventContent {
	padding-left: 20px;
	padding-right: 20px;
}

.eventStatsBox {
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	text-align: center;
	font-size: 15px;
	background-color: rgb(227, 227, 227);
	padding: 5px;
}

.eventStatsBoxItem {
	flex-basis: 0;
	flex-grow: 1;
}

/* expanding button */
.ExpandingButton {
	padding: 8px;
	border-style: solid;
	border-width: 1px;
	border-radius: 15px;
	border-color: rgb(73, 219, 164);
}


/* NavBar styles */
.navBar {
	display: flex;
	justify-content: space-between;
	padding: 15px 6px;
}

.navTitle {
	font-size: 23px;
	font-weight: 100;
	margin: 0px;
}


/* animations */
.navigation-animation-enter {
  opacity: 0.01;
}

.navigation-animation-enter.navigation-animation-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.navigation-animation-leave {
  opacity: 1;
}

.navigation-animation-leave.navigation-animation-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
