body {
	margin: 0;
}

.list {
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
}

.listItem {
	max-height: 210px;
	padding: 6px;
	margin-bottom: 10px;
	display: flex;
	justify-content: flex-start;
}

.thumbnail {
	object-fit: cover;
	height: 100px;
	width: 110px;
	border-radius: 20px;
}

.content {
	padding-left: 15px;
}

.content .title {
	margin: 0;
}
