body {
	margin: 0;
	font-family: 'Droid Sans', sans-serif;
}

.noUnderline {
	text-decoration: none !important;
}

/* animations */

/*nav fade in out*/
.navigation-animation-enter {
  opacity: 0.01;
}

.navigation-animation-enter.navigation-animation-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in-out;
}

.navigation-animation-leave {
  opacity: 1;
}

.navigation-animation-leave.navigation-animation-leave-active {
  opacity: 0.01;
  transition: opacity 500ms ease-in-out;
}

/*top bar slide down*/
.slide-down-appear {
  top: -50px;
}

.slide-down-appear.slide-down-appear-active {
  top: 0px;
  transition: top 600ms ease-in-out;
}

/*tab bar slide up*/
.slide-up-appear {
  bottom: -50px;
}

.slide-up-appear.slide-up-appear-active {
  bottom: 0px;
  transition: bottom 600ms ease-in-out;
}
