.top-bar {
	height: 50px;
	width: 100vw;
	position: fixed;
	top: 0;
	display: flex;
	align-items: stretch;
	justify-content: space-around;
	color: rgb(27, 27, 27);
	background-color: #42C668;
}

.top-bar__container {
	flex-grow: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}

.top-bar__container--middle {
	flex-grow: 3.2;
	color: white;
	font-size: 18px;
	letter-spacing: 0.5px;
}

.top-bar__container--left, .top-bar__container--right {
	color: white;
	font-size: 18px;
}

.top-bar__container--middle div {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

/* animations */
.fade-animation-enter {
  opacity: 0;
}

.fade-animation-enter.fade-animation-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in-out;
}

.fade-animation-leave {
  opacity: 1;
}

.fade-animation-leave.fade-animation-leave-active {
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}
