.upcoming {
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
}

.upcoming__list-item {
	max-height: 210px;
	padding: 6px;
	margin-bottom: 10px;
	display: flex;
	justify-content: flex-start;
}

.upcoming__list-seperator {
	background-color: rgb(240, 240, 240);
}

.upcoming__seperator-date {
	text-align: center;
	width: 100%;
	height: 100%;
}

.upcoming__loading-indicator {
	position: static;
	transform: rotateZ(45deg);
	margin: 14px auto;
}
